
:root{

    --first-color:
}



body{

    margin: 0;
}

/* ==================================== */
/* nav-home */
.nav-bar-home , .nav-bar-contact , .nav-bar-aboutus{

    display: flex;
    flex-direction:row;

    justify-content: center;
    align-items: center;
    column-gap: 100px;
    background-color:rgba(58,70,100);
    position: fixed;
    /* height: 70px; */
    top: 0;
    left: 0;
    right: 0;
    z-index:999;
    padding-block: 10px;
   
}




 .nav-bar-home .book-icon  img  ,.nav-bar-contact .book-icon  img , .nav-bar-aboutus img{

    width: 50px;
}

.nav-bar-home .book-icon , .nav-bar-contact .book-icon  , .nav-bar-aboutus .book-icon{


    position: relative;
    left: -150px;
  
}


.nav-home , .nav-contact , .nav-aboutus{

    width: 30%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}


nav ul{

    list-style: none;
    display: flex;
    justify-content:space-between;
    width: 100%;
    /* background-color: teal; */
    margin: 0;
    padding: 0;
}


/* =================================================== */


/* sign in  */



.nav-bar-sign-in{

    display: flex;
    flex-direction:row;

    justify-content: center;
    align-items: center;
    column-gap: 100px;
    background-color:rgba(58,70,100);
    position: fixed;
    /* height: 70px; */
    top: 0;
    left: 0;
    right: 0;
    z-index:999;
    padding-block: 10px;
   
}




 .nav-bar-sign-in .book-icon  img{

    width: 50px;
}

.nav-bar-sign-in .book-icon {


    position: relative;
    left: -150px;
  
}


.nav-sign-in{

    width: 30%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}


nav ul{

    list-style: none;
    display: flex;
    justify-content:space-between;
    width: 100%;
    /* background-color: teal; */
    margin: 0;
    padding: 0;
}


/* =========================================== */

.nav-bar-sign-up{

    display: flex;
    flex-direction:row;

    justify-content: center;
    align-items: center;
    column-gap: 100px;
    background-color:rgba(58,70,100);
    position: fixed;
    /* height: 70px; */
    top: 0;
    left: 0;
    right: 0;
    z-index:999;
    padding-block: 10px;
   
}




 .nav-bar-sign-up .book-icon  img{

    width: 50px;
}

.nav-bar-sign-up .book-icon {


    position: relative;
    left: -150px;
  
}


.nav-sign-up{

    width: 30%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}


nav ul{

    list-style: none;
    display: flex;
    justify-content:space-between;
    width: 100%;
    /* background-color: teal; */
    margin: 0;
    padding: 0;
}


/* ============================== */




.nav-bar-admin{

    display: flex;
    flex-direction:row;

    justify-content: center;
    align-items: center;
    column-gap: 100px;
    background-color:rgba(58,70,100);
    position: fixed;
    /* height: 70px; */
    top: 0;
    left: 0;
    right: 0;
    z-index:999;
    padding-block: 10px;
   
}
.nav-bar-sign-in .book-icon  img{

    width: 50px;
}

.nav-bar-sign-in .book-icon {


    position: relative;
    left: -150px;
  
}


.nav-sign-in{

    width: 30%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}


nav ul{

    list-style: none;
    display: flex;
    justify-content:space-between;
    width: 100%;
    /* background-color: teal; */
    margin: 0;
    padding: 0;
}


/* =========================================== */

.nav-bar-admin , .nav-bar-add-book{

    display: flex;
    flex-direction:row;

    justify-content: center;
    align-items: center;
    column-gap: 100px;
    background-color:rgba(58,70,100);
    position: fixed;
    /* height: 70px; */
    top: 0;
    left: 0;
    right: 0;
    z-index:999;
    padding-block: 10px;
   
}




 .nav-bar-admin .book-icon  img , .nav-bar-add-book .book-icon  img{

    width: 50px;
}

.nav-bar-admin .book-icon , .nav-bar-add-book .book-icon  img {


    position: relative;
    left: -150px;
  
}


.nav-admin , .nav-add-book{

    width: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}


nav ul{

    list-style: none;
    display: flex;
    justify-content:space-between;
    width: 100%;
    /* background-color: teal; */
    margin: 0;
    padding: 0;
}
/* ====================================== */



nav ul{

    list-style: none;
    display: flex;
    justify-content:space-between;
    width: 100%;
    /* background-color: teal; */
    margin: 0;
    padding: 0;
}



li a{

    text-decoration: none;
    color:white;
    font-weight: 700;
    transition: all 1s;
    
}

li a:hover{

    color:lightsalmon;
}


.header {

    height: 90vh;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
    /* position: relative; */

}

.header-text{

    /* background-color: teal; */

    width: 40%;
    display: flex;
    flex-direction: column;
   

}

.header-text p{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.header-text button{
  
    /* position: relative;
    left: 50%;
    transform: translateX(-50%); */

    background-color: #F69E7B;
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 20px;
    border:none;
}


.header .header-img img{

    width: 100%;
}


/* ================================================================================ */

/* about-us styling */



/* .about-us-container::after{


    position: absolute;

    top: 120px;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #383E56;
    text-align: center;


} */


.about-us-container::before{


    position: absolute;

    top: 93%;
    left: 0%;
    right: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #383E56;
    text-align: center;


}
.about-us-container{

    height: 110vh;
    background-color: #F6F5F2;
    display:grid;
    position: relative;


    align-content: center;
    gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 370px 370px;

    

}


.left-up-about{

    /* background-color: red; */
    padding-left: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 2px dashed lightsalmon ;

}

.right-up-about{

    /* background-color: #F69E7B; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.right-up-about-img{


    width: 60%;

    position: relative;
    overflow: hidden;

  
   
}


.right-up-about-img img{
    
    width: 100%;
    display: block;
}

.right-up-about-img .cover{

    width: 100%;
    background-color:rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform:translateY(100%);
    transition: all 2s ease;
    text-align: center;
    color: white;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.right-up-about-img:hover.right-up-about-img .cover{
    
        transform:translateY(0%);
    
}






.left-down-about{

    /* background-color: aqua; */
 
    padding-left: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 2px dashed lightsalmon ;
}


.right-down-about{

    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    align-items: center;
}




/* =============================================================================================================================================== */

/* book section styling */





.books-sections{


    height: 200vh;
     background-color: #ECECEC;
   display: flex;
   flex-direction: column;
   align-items: center;
  

   /* row-gap: 20px; */
   

}

.books-sections h3{

    height: 50px;
    /* align-self: stretch; */
    width: 80%;
    text-align: center;
    background-color: rgba(58,70,100) !important;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    color: white;
    border-right: solid  rgba(58,70,100)  3px;
    border-left: solid  rgba(58,70,100)  3px;
}


.trending-books , .classic-books , .romance{

    display: grid;
    grid-template-columns: repeat(5,20%);
    background-color: #EEDAD1;
    justify-items:center;
    width: 80%;
    gap: 10px;
    justify-content: center;
    align-items:baseline;
    height: 80vh;
    grid-template-rows: minmax(200px,auto);



    border-right: solid  rgba(58,70,100)  3px;
    border-left: solid  rgba(58,70,100)  3px;
    

}


.item {

    /* background-color: cadetblue; */
    /* width: 80%; */
    text-align: center;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.item button{

    border: none;
    outline: none;

    background-color: transparent;

    box-shadow: 3px 3px 5px rgba(58,70,100,0.5);

    width: 100px;
    height: 30px;
    border-radius: 40px;
    background-color: #F69E7B;
    color: white;
    transition: all 1s ease;
}
.item button a{

    text-decoration: none;
    color: white;
}
.item button:hover{
    background-color: rgba(58,70,100);
    
}
.item img{

    width: 50%;
}

/* ========================================================================================================================================================= */


/* sigin in , sign up styling */

.sign-in-container ,.sign-up-container , .contact-us-container , .add-book-container{

    height: 120vh;

    background-image: url(imgs/sigin-back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    /* top: -20px; */
    overflow: auto;
}



.sign-in-container .form-container {


    background-color: transparent;

    height:400px;
    width: 30%;
    box-shadow: 5px 5px 5px 4px rgba(58,70,100) , 5px 5px 5px 10px whitesmoke;

    display: flex;



    
    
}


.sign-up-container .form-container   {


    background-color: transparent;
    height:500px;
    width: 30%;
    box-shadow: 5px 5px 5px 4px rgba(58,70,100) , 5px 5px 5px 10px whitesmoke;


    display: flex;



    
}


.contact-us-container .form-container{

    background-color: transparent;
    height: 550px;
    width:40%;
    display: flex;
    box-shadow: 5px 5px 5px 4px rgba(58,70,100) , 5px 5px 5px 10px whitesmoke;


}


.add-book-container .form-container{

    background-color: transparent;
    height: 550px;
    width:40%;
    display: flex;
    box-shadow: 5px 5px 5px 4px rgba(58,70,100) , 5px 5px 5px 10px whitesmoke;
}


.add-book-container .form-container .book-category{


    width: 100%;
    /* background-color: red; */
    padding-left: 15px;
}

.add-book-container .form-container .book-category{

    font-weight: 900;
}
.add-book-container .form-container .book-category select{

    width: 50%;
    height: 100%;
    background-color: transparent;
    border:none;
    outline: none;
    border: 2px solid rgba(58,70,100,0.5);
    border-radius: 20px;
    padding-left: 10px

}
.add-book-container .form-container .text-area{

    
    width: 100%;
    display: flex;
    /* justify-content: center; */
    padding-left: 20px;
}

.add-book-container .form-container textarea{
    width: 70%;
    height: 70px;
    border: solid 2px rgba(58, 70, 100,0.5);
    border-radius:20px ;

}

.add-book-container .form-container .btn-group{

    position: relative;
    top: -15px;
}

.contact-us-container .form-container textarea{
    
        width: 70%;
        height: 70px;
        border: solid 2px rgba(58, 70, 100,0.5);
        border-radius:20px ;
}

.contact-us-container .form-container .text-area{

    width: 100%;
    display: flex;
    justify-content: center;
}
form{

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   box-sizing: border-box;
  
}


form .input-box{
    width: 94%;
    height: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 2px;
    /* background-color: lightsalmon; */

}


#error1{

    position: absolute;
    top: 45px;
    left: 20px;
    right: 0;
    height: 20px;
    color: red;
}


#error2{

    position: absolute;
    top: 45px;
    left: 20px;
    right: 0;
    height: 20px;
    color: red;
}

#error3{

    
    position: absolute;
    top: 45px;
    left: 20px;
    right: 0;
    height: 20px;
    color: red;

}


#error4{

    
    position: absolute;
    top: 45px;
    left: 20px;
    right: 0;
    height: 20px;
    color: red;

}



.input-box i{

    position: absolute;
    top: 10px;
    right: 10px;
    color:rgba(58,70,100);
    font-size: 20px;
}
.form-header{

    font-size: 20px;
    border: none;
    border-radius: 0;
    text-align: center;
    position: relative;
}


.form-header::before{
    content: " ";
    width: 150px;
    height: 2px;
    background-color: rgba(58, 70, 100);
    position: absolute;
    top: 51px;
    left: -38px;
    right: 0
}

.form-header::after{

    content: " ";
    width: 175px;
    height: 2px;
    background-color: rgba(58, 70, 100);
    position: absolute;
    top: 55px;
    left: -51px;
    right: 0;

}

.add-book-container .form-header::before{
    content: " ";
    width: 160px;
    height: 2px;
    background-color: rgba(58, 70, 100);
    position: absolute;
    top: 55px;
    left: -11px;
    right: 0;
}

.add-book-container .form-header::after{

    content: " ";
    width: 180px;
    height: 2px;
    background-color: rgba(58, 70, 100);
    position: absolute;
    top: 59px;
    left: -20px;
    right: 0;
}

.input-box input{

    width: 100%;
    height: 100%;
    background-color: transparent;
    border:none;
    outline: none;
    border: 2px solid rgba(58,70,100,0.5);
    border-radius: 40px;
    padding-left: 2px
}





input::placeholder{

    color:rgba(58,70,100);
    padding: 10px;
}


form .remember-me ,form .is-admin{

    display: flex;
    column-gap: 10px;

    
}

.btn-group{

    width: 100%;
    display: flex;
    justify-content: center;
}


.sign-up-container .form-container .btn-group ,.contact-us-container .form-container .btn-group{

    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -10px;

}


form label{

    font-weight: 900;
}

form .btn-group button{

    border: none;
    width: 45%;

    height: 30px;
    background-color: rgba(58,70,100);
    border-radius: 20px;
    color: white;
    cursor: pointer;
   
}


form .btn-group a{
    color: white;
    text-decoration: none;

}


.sign-up-text a{

    color:black;
    text-decoration: none;
    padding-left: 10px;

}