{% load static %}
<footer>
    <div class="container5">
        <div class="about">
            <div class="in-about">
                <img src="{% static 'imgs/bookicon3jpg.jpg' %}" style="border-radius: 50%;" alt="">
                <h2>Bibleoticha<span>.</span></h2>
            </div>
            <p>Bibleoticha is an online library made to make you comfortable while reading books</p>
            <h3>Social Media</h3>
            <ul class="social-icons">
                <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>
            </ul>
        </div>

        <div class="footer-detail">
            <h3>Get in Touch</h3>
            <ul>
                <li>
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Ahmed Zewail Street - Giza - Egypt</span>
                </li>

                <li>
                    <i class="fa-solid fa-envelope"></i>
                    <a href="">bibleoticha@gmail.com</a>
                </li>

                <li>
                    <i class="fa-solid fa-phone"></i>
                    <a href="">+01011121314</a>
                </li>
            </ul>
        </div>
    </div>
</footer>