<nav class="nav-bar">
    <div class="nav-left">
        <h1><a href="index.html">Bibleoticha<span>.</span></a></h1>
    </div>
    <div class="nav-center">
        <ul>
            <li class="homee"><a href="index.html" class="home">Home</a></li>
            <li><a href="#Gallery">Our Books</a></li>
            <li><a href="sign in.html">Sign In</a></li>
        </ul>
    </div>
    <div class="nav-right">
        <a href="contact_us.html"> <i class="fa-solid fa-phone"></i></a>
    </div>
</nav>