<nav class="nav-bar">
    <div class="nav-left">
        <h1><a href="index_user.html">Bibleoticha<span>.</span></a></h1>
    </div>
    <div class="nav-center">
        <ul>
            <li class="homee"><a href="index_user.html" class="home">Home</a></li>
            <li><a href="list_books_user.html">View  List Of Books</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li class="log-out">
                <a href="index.html">Log Out</a>
            </li>
        </ul>
    </div>
    <div class="nav-right">
        <a href="contact us.html"> <i class="fa-solid fa-phone"></i></a>
    </div>
</nav>