{% extends 'base.html'%}

{% block content%}
{%include 'parts/nav.html'%}
<section class="section4">
    <div class="container4">
        <div class="main-titles">
            <h2>CONTACT</h2>
            <p>Need Help ? <span>Contact Us</span></p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.445785295115!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1681863129691!5m2!1sen!2sus"
                style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        <div class="details">
            <div class="address">
                <div class="icon">
                    <i class="fa-regular fa-map"></i>
                </div>
                <div class="content">
                    <h3>Our Address</h3>
                    <p>Ahmed Zewail Street - Giza - Egypt</p>
                </div>
            </div>
            <div class="email">
                <div class="icon">
                    <i class="fa-regular fa-envelope"></i>
                </div>
                <div class="content">
                    <h3>Email us</h3>
                    <a href="">bibleoticha@gmail.com</a>
                </div>
            </div>
            <div class="call">
                <div class="icon">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="content">
                    <h3>Call Us</h3>
                    <a href="">+01011121314</a>
                </div>
            </div>
            <div class="op-hours">
                <div class="icon">
                    <i class="fa-solid fa-share-nodes"></i>
                </div>
                <div class="content">
                    <h3>Online Support Working Hours</h3>
                    <p><strong>Sun-Thurs:</strong> 11AM - 23PM;<strong> Fri-Sat :</strong> Closed</p>
                </div>
            </div>
        </div>

        <form action="">
            <div class="input-gp">
                <input type="text" placeholder="Your Name" name="Name">
                <input type="email" placeholder="Your Email" name="Email">
            </div>
            <input type="text" placeholder="Subject" name="Subject">
            <textarea name="message" placeholder="Message" id="" cols="30" rows="10"></textarea>
            <button class="form-btn">
                Send Message
            </button>
        </form>
    </div>
</section>
{% include 'parts/footer.html'%}
{% endblock %}